.dashboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerSection {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.registerSection h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

.registerSection input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.registerSection button {
  width: 100%;
  padding: 10px;
  background-color: #0f8bd6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginLink {
  margin-top: 10px;
  color: #666666;
  font-size: 14px;
}

.loginLink a {
  color: #0f8bd6;
  text-decoration: underline;
}
